<h1 mat-dialog-title>Forgot Password</h1>

<div mat-dialog-content>
  <p>Please enter your email Id. A temporary password will be sent to your registred email address.</p>
  <mat-form-field class="login-field">
    <input matInput [(ngModel)]="data.email" required email placeholder="Enter your Email Id">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCloseDialog()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="onResetPasswordClick()">Reset my Password</button>
</div>