<div class="app-banner">
	<mat-toolbar>
	  
	  <!-- <div class="brand-name">Itz My Story</div> -->
	  <div class="brand-name"><img [src]="logoPath" height="60px" width="216px"/></div>
	  
	  <div class="search__container">
	     <input class="search__input" type="text" placeholder="Search by story, writer, and categotry">
	  </div>

	  <div class="acoount-details" *ngIf = "loggedIn">
		  <table style="float: right;">
			  <tr>
				  <td><div class="upgrade" style="margin-right: 6px; margin-right: 24px;">Upgrade</div></td>
				  <td><div class="notification"><mat-icon matBadge="15" matBadgeColor="warn" size="30" class="mat-color-theme" >notifications_none</mat-icon></div></td>
				  <td><div class="account" style="margin-top: -4px;"><mat-icon class="mat-32 mat-color-theme">account_circle</mat-icon></div></td>
			  </tr>
	      </table>
	  </div>
	  
	  <div class="guest-details" *ngIf = "!loggedIn">
		  <table style="float: right;">
			  <tr>
				  <td><div class="upgrade" style="margin-right: 6px; margin-right: 24px;">Create an Account</div></td>
				  <td><a mat-flat-button class="app-button-link" routerLink=".">Sign in</a></td>
			  </tr>
	      </table>
	  </div>
	  
	</mat-toolbar>
</div>