/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
	margin: 0px 0px;
}

.app-custom-button-link{
    font-family: 'Raleway', sans-serif;
	background-color: transparent !important;
	color: #777 !important;
}

.app-custom-button-link:Hover{
	color: #000 !important;
}

/* Palatino Garamond */

.app-custom-button-flat {
    /* border: 1px solid #575756; */
	border: 1px solid #bbb;
	padding: 6px 14px;
	border-radius: 4px;
    color: rgba(87, 87, 86, 0.8);
    font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 18px;
    cursor: pointer;
    position: relative;
    top: -1px;
}

.app-custom-button-flat:HOVER{
	border: 1px solid #323232;
	color: rgba(87, 87, 86, 1);
}

.app-menu-text {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

.inline-block{
	display: inline-block;
}


.mat-16 {
   font-size: 16px;
}

.mat-18 {
   font-size: 18px;
}

.mat-20 {
   font-size: 20px;
}

.mat-22 {
   font-size: 22px;
}

.mat-24 {
   font-size: 24px;
}

.mat-26 {
   font-size: 26px;
}

.mat-28 {
   font-size: 28px;
}

.mat-30 {
   font-size: 30px;
}

.mat-32 {
   font-size: 32px;
}

.mat-34 {
   font-size: 34px;
}

.mat-36 {
   font-size: 36px;
}

.mat-50 {
   font-size: 50px;
}

.mat-color-theme{
	color: rgba(87, 87, 86, 0.8);
	fill: rgba(87, 87, 86, 0.8); 
}

.app-menu-content .mat-menu-content{
  padding : 0px
}

.app-menu-content .mat-menu-content button{
  height: 40px;
  line-height: 40px;
}

.mat-menu-panel {
    margin-top: 10%;
}